<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<style>
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 8px 0;
  }

  p {
    margin: 0;
  }

  .toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #B19CD9;
    color: white;
    font-weight: 600;
  }

  .content {
    display: flex;
    margin: 82px auto 32px;
    padding: 0 16px;
    max-width: 960px;
    flex-direction: column;
    align-items: center;
  }

  

  .overallcard{
    width: 400px;
    border: 4px solid black;
    display: inline-flex;
  }

  .box{
    background-color: #B19CD9;
  }

  .pic{
    width: 400px;
    transition: transform .5s ease-in-out;
  }

  .pic:hover{
    transform: rotate(360deg);
  }

  .heading{
    text-align: center;
  }

  .details{
    text-align: center;
    display: none;
  }

  .topbuttons{
    margin: 10px 0px 10px 0px;
    display: block;
  }


  .dupe{
    background-color: #B19CD9;
    color: white;
    text-align: center;
    padding: 15px;
    transition: background-color 0.8s;
    border: 4px double white;
    font-size: 20px;
  }

  .changebg{
    background-color: #B19CD9;
    color: white;
    text-align: center;
    padding: 15px;
    transition: background-color 0.8s;
    border: 4px double white;
    font-size: 20px;
  }

  .changehg{
    background-color: #B19CD9;
    color: white;
    text-align: center;
    padding: 15px;
    transition: background-color 0.8s;
    border: 4px double white;
    font-size: 20px;
  }

  .del{
    background-color: #B19CD9;
    color: white;
    text-align: center;
    padding: 15px;
    transition: background-color 0.8s;
    border: 4px double white;
    font-size: 20px;
  }

  .detailsbutton{
    background-color: #B19CD9;
    color: white;
    text-align: center;
    padding: 15px;
    transition: background-color 0.8s;
    border: 4px double white;
    font-size: 20px;
    margin: 10px;
  }

  .detailsbutton:hover{
    background-color: black;
  }

  .detailsbutton:focus{
    background: gray;
    color: #041E42;
  }

  .reveal{
    text-align: center;
  }


  .dupe:hover{
    background-color: black;
  }

  .dupe:focus{
    background: gray;
    color: #041E42;
  }

  .changebg:hover{
    background-color: black;
  }

  .changebg:focus{
    background: gray;
    color: #041E42;
  }

  .changehg:hover{
    background-color: black;
  }

  .changehg:focus{
    background: gray;
    color: #041E42;
  }

  .del:hover{
    background-color: black;
  }

  .del:focus{
    background: gray;
    color: #041E42;
  }

  @media only screen and (max-width: 425px)
  {
    .reveal{
      display: none;
    }

    .overallcard{
      width: 250px;
      border: 4px solid black;
      display: inline-flex;
    }
    
    .pic{
      width: 250px;
      transition: transform .5s ease-in-out;
    }
  }


</style>

<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img
    width="40"
    alt="Angular Logo"
    src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="
  />
  <span>Welcome</span>
  <div class="spacer"></div>
</div>

<div class="content" role="main">
    <div class="topbuttons">
      <button class="dupe">Duplicate</button>
      <button class="changebg">Change Background</button>
      <button class="changehg">Change Heading</button>
      <button class="del" id="del">Delete</button>
    </div>


    <div class="overallcard">
      <div class="box">
        
        <img class="pic" src="https://pbs.twimg.com/media/FajpQj_XwAEwCWw.jpg">
        
        <div class="heading">
          <h1>the brim reaper</h1>
        </div>
        
        <div class="details">
          <h3>fear the reaper</h3>
        </div>
        <div class="reveal">
          <button class="detailsbutton">Details</button>
        </div>
     
     </div>
    </div>
  </div>




<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet></router-outlet>
